
.section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .conteiner {
    box-sizing: border-box;
    width: 1200px;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
  }
  .examples {
    background-color: var(--primary-background-color);}