.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--backdrop);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 95%;

  padding: 40px;
  @include mobile {
    width: 450px;
    height: 609px;
  }
  @include desktop {
    width: 528px;
    height: 581px;
  }
  background-color: var(--primary-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  scale: 1;

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__icon {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  padding: 6px;

  background-color: var(--primary-background-color);
  border-radius: 50%;
  border: 1px solid var(--border-color);
  fill: var(-dark-color);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__btn-close {
  position: absolute;
  top: 0;
  right: 0;

  width: auto;
  height: auto;
  margin: 8px;
  background-color: var(--primary-background-color);
  border: none;
  outline: none;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover .modal__icon,
  &:focus .modal__icon {
    fill: var(--accent-color);
  }
}

.feedback {
  margin-bottom: 20px;
}

.feedback.comment {
  margin-bottom: 20px;
}
.feedback__box {
  position: relative;
  margin-bottom: 10px;
}
.feedback__input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: auto;

  border: 1px solid var(--border-second);
  border-radius: 4px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:hover {
    border-color: var(--accent-color);
  }
  &:focus + .feedback__icon,
  &:hover + .feedback__icon {
    fill: var(--accent-color);
  }
}
.feedback__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  fill: var(--seconday-logo-color);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.feedback__input--textarea {
  resize: none;
  width: 100%;
  height: 90px;
  padding: 12px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--main-text-color);

  border: 1px solid var(--border-second);
  border-radius: 4px;
  outline: none;
  @include mobile {
    height: 120px;
  }
}
.feedback__name {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--main-text-color);
  margin-bottom: 4px;
}

.policy {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.policy__text {
  display: inline-block;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: left;
  @include tablet{
   display: flex;
  align-items: center;
 }
  @include desktop {
    font-size: 14px;
    line-height: 1.71;
  }
}
.policy__box {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid var(--main-title-color);
  border-radius: 3px;
  margin-right: 7px;
 
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @include tablet{
     display: flex;
  align-items: center;
  justify-content: center;
  }
}
.policy__icon {
  fill: transparent;
}

.policy__checkbox {
  &:checked + .policy__text .policy__box {
    border: none;
    background-color: var(--accent-color);
  }
  &:checked + .policy__text .policy__icon {
    fill: var(--main-light-color);
  }
  &:focus + .policy__text .policy__box {
    border: 2px solid var(--accent-color);
  }
}

.policy__link {
  display: inline-block;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  margin-left: 3px;
  border-bottom: 2px solid currentColor;

  line-height: 0.85;
}

.submit-btn {

  padding: 10px;
  width: 200px;
  height: 50px;
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;

  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;

  border: none;
  color: #ffffff;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.button--box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
