.title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--main-title-color);
  @include desktop {
    font-style: 36px;
  }
  @include desktop {
    margin-bottom: 50px;
  }
}
.sub-title {
  margin-bottom: 10px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
}
.sub-title--features {
  font-size: 14px;
  text-transform: uppercase;
}
.field-action__second-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-light-color);
}
.field-action__add-title-box {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: var(--additional-title-color);
}
.modal__title {
  display: block;
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--main-title-color);
  @include desktop {
    line-height: 1.15;
  }
}
