:root {
    --main-text-color: #757575;
    --main-title-color: #212121;
    --accent-color: #2196f3;
    --primary-background-color: #ffffff;
    --secondary-backgroung-color: #f5f4fa;
    --contact-color: rgba(255, 255, 255, 0.6);
    --footer-background-color: #2f303a;
    --secondary-logo-color: #000000;
    --main-light-color: #ffffff;
    --additional-title-color: rgba(47, 48, 58, 0.8);
    --overlay-color: rgba(33, 150, 243, 0.9);
    --footer-soc-link: rgba(255, 255, 255, 0.1);
    --footer-soc-icon: #AFB1B8;
    --backdrop: rgba(0, 0, 0, 0.2);
    --border-color: rgba(0, 0, 0, 0.1);
    --dark-color: #000000;
    --border-second: rgba(33, 33, 33, 0.2);
    --border-third: rgba(255, 255, 255, 0.3);
  }